.navbar {
	background: #262730;
}

.jumbotron {
	background-image: url("../images/header.jpg");
	background-position: center 40%;
	background-size: cover;
	height: 400px;
	border-radius: 0;
}

.jumbotron h1 {
	text-align: center;
	color: #fdfdff;
	margin-top: 15%;
	text-shadow: 1px 1px #0a2239;
}

.jumbotron-subpage {
	height: 100px;
}

.jumbotron-subpage h1 {
	margin-top: 1%;
	font-size: x-large;
}

.card {
	border: none;
}

.card a {
	text-decoration: none;
	color: black;
}

.card:hover {
	background: #262730;
}

.card:hover a {
	color: #fff;
}		

.social {
	text-align: right;
}

.social img {
	height: 30px;
}

.content {
	margin-top: 100px;
	font-size: 1.25em;
}

.content h2 {
	margin-bottom: 20px;
}

.mobile-view {
	display: none;
}

@media only screen and (max-width: 480px) {
	.mobile-view {display: block;}
	.desktop-view {display: none;}
}

footer {
	font-size: 12px;
	text-align: center;
	margin-top: 100px;
}