:root {
	--dark-blue: #2C4068;
	--orange: #FF7F61;
	--light-brown:  #E3DECA;
	--cream:  #FCF8F0;
}

html, body {
	height: 100%;
	min-height: 525px;
}

body {
	background-image:
			linear-gradient(rgba(17, 25, 41, 0.5), rgba(17, 25, 41, 0.5)),
			url("../assets/Forest Road.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 0 auto;
}

.title {
	font-family: Oswald, sans-serif;
	font-size:  5vw;
	color:  white;
	text-align: center;
}

.logo {
	max-width: 200px;
	margin: 0 auto;
}

.logo > img {
	width: 200px;
}

.row {
	text-align: center;
	margin:  3% 5%;
}

.button-link {
	margin: 1% auto;
	padding: 10px;
	border-style: solid;
	border-color:  white;
	border-width:  1px;
	font-family: Raleway, sans-serif;
	font-size: 14px;
	letter-spacing: 2px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	max-width: 280px;
}

.button-link:hover {
	background: white;
	color: var(--dark-blue);
	font-weight: bold;
	text-decoration: none;
}

footer{
	font-family: Raleway, sans-serif;
	font-size: 10pt;
	text-align: center;
	color: white;
	width: 100%;
	flex-shrink: 0;
}
