:root {
	--dark-blue: #2C4068;
	--orange: #FF7F61;
	--light-brown:  #E3DECA;
	--cream:  #FCF8F0;
}

html {
	height: 100vh;
	min-height: 480px;
}

body {
	background-image:
			linear-gradient(rgba(17, 25, 41, 0.5), rgba(17, 25, 41, 0.5)),
			url("../assets/Forest Road.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.title-and-logo {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 60%;
	padding: 0 5%;
	color: white;
	text-align: center;
}

.title {
	font-family: Oswald, sans-serif;
	font-size:  64px;
	min-width: 320px;
}

.summary {
	font-family: Raleway, sans-serif;
	font-size: 24px;
}

.logo > img {
	width:  200px;
}

.links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: auto;
	color: white;
}

.link {
	margin: 10px;
	padding: 5px;
	text-align: center;
	font-family: Raleway, sans-serif;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	background-color: rgba(255, 255, 255, 0.9);
	color: var(--dark-blue);
	border-radius: 5px;
	text-transform: uppercase;
	text-decoration: none;
	min-width: 175px;
}

.link:hover {
	background: white;
	color: var(--dark-blue);
	text-decoration: none;
}

footer{
	font-family: Raleway, sans-serif;
	font-size: 10pt;
	text-align: center;
	padding-bottom: 10px;
	color: white;
	width: 100%;
}

@media only screen and (max-width: 480px) {
  .title {
    font-size: 48px;
  }

	.link {
		background: white;
	}
}
